---
const pageTitle = "Astro Learning Blog";
const allPosts = await Astro.glob('./posts/*.md');
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from '../components/BlogPost.astro';
---

<BaseLayout pageTitle={pageTitle}>
	<h2>My Astro Learning Blog</h2>
	<p>Where I learn how to write Atro</p>
	<ul>
		{allPosts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
	</ul>
</BaseLayout>
